* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-text {
    display: flex;
    font-family: Raleway, sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

body {
    background-color: #cccccc;
    background-size: cover; /* This property ensures that the background image covers the entire body */
    background-repeat: no-repeat; /* This property prevents the background image from repeating */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
    background-color: rgba(1, 5, 1, 0.92);
    font-family: Raleway, sans-serif;
    padding:0 20px; /* Add padding to the nav for better spacing */
    z-index: 1000; /* Ensure the navigation bar is above other content */
}


.navbar-header {
    padding-left: 50px; /* Adjust the amount of space from the left side */
    padding-top: 15px;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none; /* Move list-style property here */
    margin-left: auto;
}

.nav-links li {
    margin-left: 10px;
    list-style: none; /* Remove list-style from individual li elements */
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav-links a:hover:not(.active) {
    color: white;
    text-shadow: 0 0 10px white;
    cursor: pointer;
}

.nav-links .active {
    background-color: rgba(47, 79, 79, 0.7);
    padding: 10px 16px;
    border-radius: 5px;
}

.navbar-buttons {
    display: flex;
    align-items: center; /* Align buttons vertically center */
    margin-right: 20px;
    margin-left: auto; /* Move buttons to the right */
}

.login-btn {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: auto;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.login-btn:hover {
    color: white;
    text-shadow: 0 0 10px white;
    cursor: pointer;
}

#signUpBtn{
    padding: 8px 15px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

#signUpBtn a {
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
}


#signUpBtn:hover {
    color: white;
    text-shadow: 0 0 20px white;
    cursor: pointer;
} /* Change background color on hover */

/* CSS for the cart button */
.navbar-buttons .cart-btn {
    background-color: black; /* Example background color */
    color: #fff; /* Example text color */
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.navbar-buttons .cart-btn:hover {
    color: white;
    text-shadow: 0 0 10px white;
    cursor: pointer;
}



/*----------------------------------------------------------------------------------------------*/

.menu-toggle{
    display: none;
}


/* Media query for small screens */
/* Media query for small screens */
@media screen and (max-width: 1150px) {
    .nav-links {
        display: none; /* Hide the nav links by default */
        flex-direction: column; /* Arrange links vertically */
        position: absolute;
        top: 8vh; /* Adjust top position to align with navbar */
        left: 0;
        background-color:rgba(1, 5, 1, 0.9);
        width: 100%;
        padding: 20px;
        z-index: 100; /* Ensure the menu is on top of other content */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow for dropdown effect */
        box-sizing: border-box;
    }

    .nav-links.active {
        display: flex; /* Display nav links when active */
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: flow;
        background-color: transparent;
        color: white;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        position: fixed;
        top: 7px; /* Adjust top position to align with navbar */
        right: 15px;
        margin-right: 1px;
        z-index: 101; /* Ensure the toggle button is above the dropdown menu */
    }

    .menu-toggle:hover {
        color: white;
        text-shadow: 0 0 10px white;
        cursor: pointer;
    }

    .menu-toggle:focus {
        outline: none; /* Remove outline on focus */
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        padding: 14px 16px;
        display: block; /* Make each link a block element */
        transition: background-color 0.3s ease; /* Add transition effect */
    }

    .nav-links a:hover:not(.active) {
        background-color: rgba(211, 211, 211, 0.9); /* Change background color on hover */
        color: black;
        border-radius: 5px;
    }


    .nav-links .active a {
        padding: 14px 16px;
        background-color: rgba(47, 79, 79, 0.5); /* Highlight active link across the full row */
    }

    #signUpBtn{
        margin-right: 15px;
    }

    #userPoints {
        padding: 1px 5px; /* Fallback padding for smaller screens */
    }

    .navbar-buttons {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 20px;
    }

    .logo {
        margin-right: auto; /* Move the logo to the far left */
    }

    .login-btn,
    #signUpBtn,
    .cart-btn {
        margin-left: 6px; /* Add space between each button */
    }
}

/*------------------------------------------------------------------------------------------------------------*/
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}

#section2 {
    position: relative;
    height: 100vh; /* Set the height of the section to viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}



.back-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay{
    text-align: center;
}

.video-overlay h1 {
    font-family: Raleway, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}

.video-overlay a{
    font-family: Raleway, sans-serif;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 20px;
}

.video-overlay a:hover{
    background: white;
    color: black;
}

/*---------------------------------------------------------------------------------------------------------------*/
.videoContainer {
    position: relative;
    text-align: center; /* Center the video element within the container */
    background-image: url('../img/lll.jpg');
    background-size: cover; /* Cover the entire container */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    padding: 40px 0; /* Add 20px padding from top and bottom */
}

#videoContainer video {
    width: 50%;
    display: block;
}


/*-------------------------------------------*/
.container{
    width: 90%;
    margin:0 auto;
    padding: 10px 20px;
}
.info1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aiImage{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.aiImage img{
    max-width: 100%;
    height: auto;
    display: block;transition: 0.5s ease;
}

.aiImage:hover img{
    transform: scale(1.2);
}

.aiImage-content{
    font-family: Raleway, sans-serif;
    flex: 1;
}

.aiImage-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: black;
}

.aiImage-content li{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

.aiImage-content ul{
    list-style: none;
}

.aiImage-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.aiImage-content .read-more:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px){
    .container{
        padding: 0px;
    }
    .info1{
        padding: 20px;
        flex-direction: column;
    }
    .aiImage{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .aiImage-content li{
        padding: 0px;
        font-size: 16px;
    }
    .aiImage-content .read-more{
        font-size: 16px;
    }
}


/*--------------------------------------------*/
.container1{
    width: 90%;
    margin:0 auto;
    padding: 10px 20px;
}
.info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menImage{
    flex: 1;
    margin-left: 40px;
    overflow: hidden;
}

.menImage img{
    max-width: 100%;
    height: auto;
    display: block;transition: 0.5s ease;
}

.menImage:hover img{
    transform: scale(1.2);
}

.menImage-content{
    text-align: center;
    font-family: Raleway, sans-serif;
    flex: 1;
}


.menImage-content p{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

.menImage-content ul{
    list-style: none;
}

.menImage-content .explore{
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.menImage-content .explore:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px){
    .container1{
        padding: 0px;
    }
    .info2{
        padding: 20px;
        flex-direction: column;
    }
    .menImage{
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .menImage-content p{
        padding: 0px;
        font-size: 16px;
    }
    .menImage-content .explore{
        font-size: 16px;
    }
}

/*----------------------------------------------*/

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h2{
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    color: black;
    margin-bottom: 25px;
    margin-top: 10px;
}

.container2{
    width: 90%;
    margin:0 auto;
    padding: 10px 20px;
}
.info3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brandImage1{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.brandImage1 img{
    max-width: 100%;
    height: auto;
    display: block;transition: 0.5s ease;
}

.brandImage1:hover img{
    transform: scale(1.2);
}

.brandImage2{
    flex: 1;
    margin-left: 40px;
    overflow: hidden;
}

.brandImage2 img{
    max-width: 100%;
    height: auto;
    display: block;transition: 0.5s ease;
}

.brandImage2:hover img{
    transform: scale(1.2);
}


.shop{
    font-family: "Raleway", sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: #cccccc;
    color: black;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.shop:hover{
    background-color: #333333;
}

@media screen and (max-width: 768px){
    .container2{
        padding: 0px;
    }
    .info3{
        padding: 20px;
        flex-direction: column;
    }
    .brandImage1{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .brandImage2{
        margin-left: 0px;
        margin-bottom: 20px;
    }
}



/*--------------------------------------------------*/





.services3 {
    display: flex; /* Make the container a flexbox for side-by-side layout */
    background-color:dimgrey;
}

.image-container3 {
    flex: 0 0 40%; /* Set image width to 40% of the container */
    margin-right: 20px; /* Add margin between image and text */
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container3 img {
    border-radius: 0; /* Apply rounded corners to the image */
    height:auto;
    max-width: 100%;
    margin-left: 30px ;
    margin-right: 30px;
}

.text-container3 {
    flex: 1; /* Allow text container to fill remaining space */
    color: white; /* Set text color to white */
    padding: 5%; /* Add padding for spacing */
    font-size: 36px;
}




/*--------------------------------------------------------------------------------------------------------------*/

.thank-you h3 {
    padding-top: 40px;
    text-align: center;
    font-family: Raleway, sans-serif;
    font-size: 1em;
    animation: animateText 3s linear infinite;
}

/* Animation for "Thank You" text */
@keyframes animateText {
    0% {
        color: black;
    }
    25% {
        color: dimgray;
    }
    50% {
        color: rgba(47, 79, 79, 0.8);
    }
    75% {
        color: darkgray ;
    }
    100% {
        color: white;
    }
}

footer{
    margin-top: 40px;
    background-color: black;
    padding:.25em 1em;
}

.additional-links ul {
    padding-top: 20px;
    text-align: center;
}

.additional-links ul li {
    display: inline-block;
    margin: 0 5px;
}

.additional-links ul li a {
    font-family: Raleway, sans-serif;
    padding: 12px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.additional-links ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#copyright{
    /* margin-left:20px; */
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.social-menu ul{
    display: flex;
    padding:20px;
}

.social-menu ul li{
    list-style: none;
    display:inline-block;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 25px;
    line-height: 40px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #4267B2;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #00ACEE;
}
.social-icons {
    display: flex;
    justify-content: center;
}
.social-icons li {
    margin: 0 10px;
}


.box{
    background: black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
